.wi {
  font-size: 50px !important;
}

.temperature, .scale {
  font-size: 100px;
}

#tempChart {
    width: 90%;
}

#reportrange {
    margin: 10px 0;
}
.soil-container {
    background-color: #CC9900;
}

.air-container {
    background-color: #99CCFF;
}