.wi {
  font-size: 50px !important;
}

.temperature, .scale {
  font-size: 100px;
}

#tempChart {
    width: 90%;
}

#reportrange {
    margin: 10px 0;
}
.soil-container {
    background-color: rgba(151,187,205,0.2);
}

.air-container {
    background-color: rgba(220,220,220,0.2);
}